doctype html
html
  head
    title Some tests for kefir
    script(src='index.js')
    link(
      rel='stylesheet'
      href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
    )
    link( rel='stylesheet' href='application.css' )
  body
    .container
      h1 Тестирование Кефира \~/
      .btn-group
        button.btn.btn-default#red-button Красная кнопка
        button.btn.btn-default#green-button Зеленая кнопка
        button.btn.btn-default#blue-button Синяя кнопка
      hr
      #messages
      .panel.panel-default
        .panel-body#message
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum cursus pulvinar. Aliquam gravida massa placerat, bibendum elit at, auctor erat. Mauris porttitor magna sapien, eget ullamcorper est viverra sed. In ut quam sit amet elit blandit porta.
